/* DEFINITIONS */
/* BODY */
body {
  background-color: #b6b6b6; }

/* HEADER */
header {
  padding-top: 20px; }
  header img {
    margin-left: -30px; }
  header h2 {
    font-style: italic; }

/* SECTION (CONTENT DIV) */
section {
  margin-top: 15px;
  padding: 20px;
  background-color: white; }
  section h1 {
    font-size: 200%; }

/* ??? */
.boldy {
  font-weight: bold; }

/* ROUNDED */
.round {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; }

.round-top {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border-radius: 10px 10px 0px 0px; }

.round-right {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border-radius: 0px 10px 10px 0px; }

.round-left {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border-radius: 10px 0px 0px 10px; }

/* LINKS */
a {
  text-decoration: none; }
  a:hover {
    color: red; }
  a:visited {
    text-decoration: none;
    color: purple; }

/* NAVIGATION */
nav button {
  background-color: #fff;
  border: 2px solid black; }
nav ul {
  padding: 0px;
  margin: 0px; }
  nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0.4em; }

/* TASKBAR */
.taskbar {
  background-color: black;
  color: white;
  margin: 10px 0px 0px 0px;
  padding: 0px 20px;
  font-size: 14px;
  font-weight: bold; }
  .taskbar a {
    color: white; }
    .taskbar a:hover {
      color: red;
      text-decoration: underline; }
  .taskbar .current {
    background-color: red;
    padding: 8px 10px 8px 10px; }

/* TASKBOX */
.taskbox {
  width: 50%;
  margin-left: 25px;
  padding-left: 20px;
  background-color: #262424;
  color: black;
  font-size: 10px;
  font-weight: bold; }
  .taskbox a {
    color: white; }
    .taskbox a:hover {
      color: red;
      text-decoration: underline; }
  .taskbox .current {
    background-color: yellow;
    padding: 10px 10px 10px 10px; }

/* ACTIONS */
.actions button {
  background-color: #fff;
  border: 2px solid black; }
.actions .danger {
  color: white;
  background-color: red;
  border-color: red; }

/* comments */
.comment-content {
  font-weight: bold;
  margin-left: 10px;
  margin-top: 10px; }

/* projects */
.project-content {
  font-size: 14px;
  margin-left: 10px;
  margin-top: 30px; }

/* ERRORS */
.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table label;
    display-color: white; }

#error_explanation {
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 12px;
  background-color: #f0f0f0; }
  #error_explanation h2 {
    color: red; }
  #error_explanation p {
    color: #333;
    padding: 5px;
    margin-bottom: 0px; }
  #error_explanation ul li {
    font-size: 12px;
    list-style: square; }

.elem-container {
  border: 2px dashed gray;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-size: 10px; }
  .elem-container label {
    padding-left: 10px;
    font-style: italic; }
  .elem-container .title {
    padding-left: 0px;
    font-size: 18px; }
