<h1>О Jabra</h1>
<p><span class="boldy">Jabra(Just Another Bug tRAcker)</span> это простой багтрекер для небольших групп разработчиков. Приложение создано в фреймворке <a href="http://rubyonrails.com">Ruby On Rails</a> и в доступно в виде исходных кодов на <a href="http://github.com">GitHub</a>. На данный момент приложение представляет собой проект для личного пользования автора и находится в стадии активной разработки и дополнения функциональностью по мере надобности. В ближайших планах - оповещение участников об изменении статуса задач по e-mail и jabber, категоризация задач и разграничение доступа к проектам для различных пользователей.
<p/>
<p>Если вы хотите связаться со мной, сделать это можно, написав мне письмо на <a href="mailto:rasherny@gmail.com">электронную почту</a>.</p>
