<% if signed_in? %>
<div id='registery-member'>
  <% time = get_time %>
  <h1><%= time %>, <%= @current_user.name %>-san </h1>
  <p> <%= image_tag "#{time}.gif" %></p>
</div>
<% else %>
<div id='non-registery-member'>
  <h1>Где я? Что это?</h1>
  <p>Это просто ещё один багтрекер, написанный при помощи фреймворка Ruby On Rails. Если у Вас есть доступ к багтрекеру - пожалуйста, <a href="/login">залогиньтесь</a> или свяжитесь с администратором для получения регистрационных данных.
</div>
<% end %>

