<% if signed_in? %>
<div id='registery-member'>
  <h1>Привет, <%= @current_user.name %></h1>
  <p> Это главная страница багтрекера, ага. Мне кажется, что для залогинившихся пользователей следует сделать редирект с главной на профиль - что им тут смотреть? Пусть лучше работают или бухают, если работать не хотят.</p>
</div>
<% else %>
<div id='non-registery-member'>
  <h1>Где я? Что это?</h1>
  <p>Это просто ещё один багтрекер, написанный при помощи фреймворка Ruby On Rails. Если у Вас есть доступ к багтрекеру - пожалуйста, <a href="/login">залогиньтесь</a> или свяжитесь с администратором для получения регистрационных данных.
</div>
<% end %>

