<p>Название: <%= link_to project.title, project_path(project) %></br>
Создан: <%= project.created_at %><br>
<% if admin? %>
  <%= link_to "Править", edit_project_path(project) %>  <%= link_to "Удалить", project, :method => :delete, :confirm => "Удалить, йа?", :title => "Delete #{project.title}?" %>
<% end %>
</p>
